
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1477195568'); /* IE9*/
  src: url('iconfont.eot?t=1477195568#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1477195568') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1477195568') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1477195568#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dianhua:before { content: "\e78d"; }
.icon-twitter:before { content: "\e683"; }
.icon-facebook:before { content: "\e65a"; }
.icon-facebook1:before { content: "\e620"; }
.icon-dribbble:before { content: "\e6ac"; }
.icon-vimeo:before { content: "\e928"; }
.icon-youtube:before { content: "\e6d7"; }
.icon-rss:before { content: "\e6cc"; }
.icon-facebook2:before { content: "\e616"; }
.icon-shezhi:before { content: "\e719"; }
.icon-diannao:before { content: "\e60d"; }
.icon-sousuo:before { content: "\3434"; }
.icon-twitter1:before { content: "\e634"; }
.icon-application:before { content: "\e69e"; }
